absl-py==2.3.1
ai-edge-litert==2.1.0
astunparse==1.6.3
backports.strenum==1.2.8
certifi==2025.11.12
charset-normalizer==3.4.4
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.76.0
h5py==3.15.1
idna==3.11
keras==3.13.0
libclang==18.1.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==1.26.4
onnx==1.15.0
onnx2tf==1.28.8
onnx_graphsurgeon==0.5.8
opt_einsum==3.4.0
optree==0.18.0
packaging==25.0
pillow==12.0.0
protobuf==6.33.2
psutil==7.2.1
Pygments==2.19.2
requests==2.32.5
rich==14.2.0
six==1.17.0
sng4onnx==1.0.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
tf_keras==2.20.1
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.6.2
Werkzeug==3.1.4
wrapt==2.0.1
pandas==2.3.3
tflite_runtime==2.14.0 
scikit-learn==1.8.0
opencv-python==4.11.0.86
onnx_tf==1.10.0
tensorflow_probability==0.25.0
onnxsim==0.4.36

